<a href="https://colab.research.google.com/github/unt-iialab/UNT-INFO5717-Fall2019/blob/master/Lesson%202/Lesson_two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This file give some examples for Lesson 2

# Execute Python Syntax
print("Hello, World!")
Hello, World!

C:\Users\Your Name>python myfile.py

In [0]:
# Python Indentations: Where in other programming languages the indentation in code is for readability only, in Python the indentation is very important. Python uses indentation to indicate a block of code.
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

(1) Python Variables: integer, floats, booleans, strings

In [0]:
### Define variables
x = 5
y = "John"
z = 1000.0
m = True
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))
print(m)
print(type(m))

5
<class 'int'>
John
<class 'str'>
1000.0
<class 'float'>
True
<class 'bool'>

In [0]:
x = 4 # x is of type int
print(type(x))
x = "Sally" # x is now of type str
print(x)
print(type(x))

<class 'int'>
Sally
<class 'str'>

In [0]:
x = "John"
print(x)
# is the same as
x = 'John'
print(x)

John
John

# **Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

Assign Value to Multiple Variables

In [0]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

print("--------------------------")
a = b = c = "Orange"
print(a)
print(b)
print(c)

Orange
Banana
Cherry
--------------------------
Orange
Orange
Orange

# Python Numbers
There are three numeric types in Python:

*   int
*   float
*   complex

Variables of numeric types are created when you assign a value to them:

In [0]:
# Example 1:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

print("-------------------------------------")


# Example 2:

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

print("-------------------------------------")

# Example 3:


x = 1.10
y = 12E4
z = -35.59

print(type(x))
print(type(y))
print(type(z))

print("-------------------------------------")

# Example 4:

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>
-------------------------------------
<class 'int'>
<class 'int'>
<class 'int'>
-------------------------------------
<class 'float'>
<class 'float'>
<class 'float'>
-------------------------------------
<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [0]:
# Convert from one type to another:

x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [0]:
# Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1,10))

4

# Python Strings
String literals in python are surrounded by either single quotation marks, or double quotation marks.
'hello' is the same as "hello".

In [0]:
# Example 1
# Assign String to a Variable: Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

a = "Hello"
print(a)

# Example 2
# Multiline Strings: assign a multiline string to a variable by using three quotes (three double quotes or three single quotes)
b= """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(b)
c= '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(c)

Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Strings are Arrays

In [0]:
# Example 3
# Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[1])

print("-------------------------------------")
 
# Example 4
# Substring. Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

print("-------------------------------------")


# Example 5
# The strip() method removes any whitespace from the beginning or the end:
c = " Hello, World! "
print(c.strip()) # returns "Hello, World!"

print("-------------------------------------")


# Example 6
# The len() method returns the length of a string:

d = " Hello, World! "
print(a.strip()) # returns "Hello, World!"
print("-------------------------------------")


# Example 6
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

e
-------------------------------------
llo
-------------------------------------
Hello, World!
-------------------------------------
Hello, World!
-------------------------------------
hello, world!

# Python Functions
In the context of programming, a function is a named sequence of statements that performs a computation. When you define a function, you specify the name and the sequence of statements. Later, you can “call” the function by name.

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In [3]:
# Example 1: Creating a Function
# In Python a function is defined using the def keyword:

def my_function():
  print("Hello from a function")
  print("-------------------------------------")

# Example 2: Calling a Function
# To call a function, use the function name followed by parenthesis:

def my_function_1():
  print("Hello from a function")
  print("*************************************")

my_function_1()

Hello from a function
*************************************

# **Excise for assignent one (Exercise 8-5):**

A Caesar cypher is a weak form of encryption that involves “rotating” each letter by a fixed number of places. To rotate a letter means to shift it through the alphabet, wrapping around to the beginning if necessary, so ’A’ rotated by 3 is ’D’ and ’Z’ rotated by 1 is ’A’.

To rotate a word, rotate each letter by the same amount. For example, “cheer” rotated by 7 is “jolly” and “melon” rotated by -10 is “cubed”. In the movie 2001: A Space Odyssey, the ship computer is called HAL, which is IBM rotated by -1.

Write a function called rotate_word that takes a string and an integer as parameters, and returns a new string that contains the letters from the original string rotated by the given amount.

You might want to use the built-in function ord, which converts a character to a numeric code, and chr, which converts numeric codes to characters. Letters of the alphabet are encoded in alphabetical order, so for example:

\>>>ord('c') - ord('a')

2

Because 'c' is the two-eth letter of the alphabet. But beware: the numeric codes for upper case letters are different.

Potentially offensive jokes on the Internet are sometimes encoded in ROT13, which is a Caesar cypher with rotation 13. If you are not easily offended, find and decode some of them.

**Solution:**
http://thinkpython2.com/code/rotate.py.

In [1]:
"""This module contains a code example related to

Think Python, 2nd Edition
by Allen Downey
http://thinkpython2.com

Copyright 2015 Allen Downey

License: http://creativecommons.org/licenses/by/4.0/
"""

from __future__ import print_function, division


def rotate_letter(letter, n):
    """Rotates a letter by n places.  Does not change other chars.

    letter: single-letter string
    n: int

    Returns: single-letter string
    """
    if letter.isupper():
        start = ord('A')
    elif letter.islower():
        start = ord('a')
    else:
        return letter

    c = ord(letter) - start
    i = (c + n) % 26 + start
    return chr(i)


def rotate_word(word, n):
    """Rotates a word by n places.

    word: string
    n: integer

    Returns: string
    """
    res = ''
    for letter in word:
        res += rotate_letter(letter, n)
    return res


if __name__ == '__main__':
    print(rotate_word('cheer', 7))
    print(rotate_word('melon', -10))
    print(rotate_word('sleep', 9))

jolly
cubed
bunny