<a href="https://colab.research.google.com/github/unt-iialab/UNT-INFO5717-Fall2019/blob/master/Lesson%202/Lesson_two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This file give some examples for Lesson 2

# Execute Python Syntax
print("Hello, World!")
Hello, World!

C:\Users\Your Name>python myfile.py

In [0]:
# Python Indentations: Where in other programming languages the indentation in code is for readability only, in Python the indentation is very important. Python uses indentation to indicate a block of code.
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

(1) Python Variables: integer, floats, booleans, strings

In [0]:
### Define variables
x = 5
y = "John"
z = 1000.0
m = True
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))
print(m)
print(type(m))

5
<class 'int'>
John
<class 'str'>
1000.0
<class 'float'>
True
<class 'bool'>

In [0]:
x = 4 # x is of type int
print(type(x))
x = "Sally" # x is now of type str
print(x)
print(type(x))

<class 'int'>
Sally
<class 'str'>

In [0]:
x = "John"
print(x)
# is the same as
x = 'John'
print(x)

John
John

# **Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

Assign Value to Multiple Variables

In [3]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

print("--------------------------")
a = b = c = "Orange"
print(a)
print(b)
print(c)

Orange
Banana
Cherry
--------------------------
Orange
Orange
Orange

# Python Numbers
There are three numeric types in Python:

*   int
*   float
*   complex

Variables of numeric types are created when you assign a value to them:

In [5]:
# Example 1:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

print("-------------------------------------")


# Example 2:

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

print("-------------------------------------")


x = 1.10
y = 12E4
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>
-------------------------------------
<class 'int'>
<class 'int'>
<class 'int'>
-------------------------------------
<class 'float'>
<class 'float'>
<class 'float'>